/node_modules
/public/hot
/public/storage
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
composer.lock
storage/fonts
storage/fonts/dompdf_font_family_cache.php
storage/logs
env
.idea/workspace.xml
*.xml
.idea/LaravelBackend.iml
.idea/LaravelBackend.iml
.idea/php.xml
.idea/workspace.xml
.vscode/launch.json
